<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inventory Management System</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-2">
  <h1>Inventory Management System</h1>
  <hr>
  <h2>Save Item</h2>
  <form action="#" th:action="@{/saveItem}" th:object="${item}" method="POST">
    <input type="text" th:field="*{name}" placeholder="Item Name" class="form-control mb-4 col-4">
    <input type="text" th:field="*{quantity}" placeholder="Quantity" class="form-control mb-4 col-4">
    <input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Save Item</button>
  </form>
  <hr>
  <a th:href="@{/}">Back to Item List</a>
</div>
</body>
</html>